.navbar-area{ position: sticky; top: 0; background: #fff }
.media-post-wrap .media-body h4 {font-size: 1.1rem; line-height: 1.4rem; margin-top: 5px}
.navbar-area {padding: 10px 0 10px;}
.video-area .top-post-wrap .top-post-details { padding: 20px;}